# Django settings
SECRET_KEY=some_secret_key
DJANGO_SETTINGS_MODULE=core.settings.base
DEBUG=True
SERVER=False
# Database settings postgresql
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# redis and celery settings
REDIS_URL=redis://localhost:6379
CELERY_BROKER_URL=redis://localhost:6379
WEBHOOK_URL=https://sherzamon.loca.lt

admin_bot_token="some_token"
log_sender_channel_id="some_channel_id"
backup_channel_id="some_channel_id"
