sudo nano /etc/systemd/system/bot_beat.service
sudo systemctl start bot_beat.service
sudo systemctl enable bot_beat.service
sudo systemctl status bot_beat.service


/var/opt/CommonBot/env
/var/opt/CommonBot/KinoBot


[Unit]
Description=Celery bot Beat Scheduler
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/opt/CommonBot/KinoBot
ExecStart=/bin/bash -c '/var/opt/CommonBot/env/bin/celery -A core beat --loglevel=info --scheduler django_celery_beat.schedulers:DatabaseScheduler'
#ExecStart=/bin/bash -c '/var/opt/CommonBot/env/bin/celery -A core beat --loglevel=info '
Restart=always
User=root

[Install]
WantedBy=multi-user.target
