
sudo nano /etc/systemd/system/bot_worker.service
sudo systemctl start bot_worker.service
sudo systemctl enable bot_worker.service
sudo systemctl status bot_worker.service

/var/opt/CommonBot/env
/var/opt/CommonBot/KinoBot




[Unit]
Description=Celery bot Worker
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/opt/CommonBot/KinoBot
ExecStart=/bin/bash -c '/var/opt/CommonBot/env/bin/celery -A core worker --loglevel=info '
Restart=always
User=root

[Install]
WantedBy=multi-user.target
